.head {
  color: rgb(250, 245, 245);
  width: 100%;
  padding: 2rem;
  width: 100%;
  height: 83px;
  position: relative;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: inherit;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.head ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.head Link {
  text-decoration: none;
  color: inherit;
}

.head Link:hover {
  cursor: pointer;
  color: rgba(241, 241, 241, 0.74);
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .head {
    height: auto;
  }

  .navbar {
    justify-content: flex-start;
  }

  .head ul {
    flex-direction: column;
  }
}
